name: Build NexusWeb

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Build EXE
      # --noconsole hides the black window
      # pywebview handles the rest
      run: |
        pyinstaller --onefile --noconsole --uac-admin --name "NexusWebInstaller" setup.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: NexusWebInstaller_Build
        path: dist/NexusWebInstaller.exe